<!--
<div class="modal-content" ng-controller="Nav">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="project-1-label">{{photopost.photoCaption}}</h4>
    </div>
    <div class="modal-body">
        <img ng-src="{{photopost.photoSrc}}"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>
-->

<!--
<div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            {{item.name}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
-->

<!--
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
-->
            <div class="modal-header">
                <h3 class="modal-title">{{item.photoCaption}}</h3>
            </div>
            <div class="modal-body">
                <img ng-src="{{item.photoSrc}}"/>
                <h4>{{item.photoSubTitle}}</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </div>
<!--
    </div>
</div>-->
