<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Malvika Bansal Portfolio</title>
		<meta name="description" content="Malvika Bansal is a Master's student in the School of Informatics & Computing at IUPUI. She holds a bachelor's degree in Computer Engineering from University of Pune, India. Her research interests lie in exploring and designing better UX with web and natural interfaces and using front-end technologies.">
		<meta name="author" content="Malvika Bansal">
        <meta name="keywords" content="Human Computer Interaction, Indiana University, IUPUI, Malvika Bansal, User Experience, Gestures, Interaction Design, Kinect, Natural User Interface, Design, Usability, Portfolio, UX, IxD"/>

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
        
        <!-- Lightbox CSS --> 
        <link href="css/lightbox.cssl" rel="stylesheet">
        
        <!-- Angular Bootstrap LightBox -->
        <link rel="stylesheet" href="css/angular-bootstrap-lightbox.css">
        
        <link rel="stylesheet" href="css/photoGallery.css">
        
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/M_logo.png" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#banner">Malvika Bansal</a></div>
								<div class="site-slogan">UX Designer and Researcher</div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="index.html#banner">Home</a></li>
												<li><a href="index.html#about">About</a></li>
												<!--<li><a href="#services">Services</a></li>-->
												<li><a href="index.html#portfolio">Portfolio</a></li>
												<!--<li><a href="#clients">Clients</a></li>-->
<!--												<li><a href="files/Malvika_Bansal_Resume.pdf">Resume</a></li>-->
                                                <li><a href="#contact">Contact</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start -->
		<!-- ================ -->
		<div id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center"><span>Photography</span></h1>
							<p class="lead text-center">Birds, Sunsets, Landscapes...<br />Showcasing the best my humble lens and inner birder could capture.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
        
        
		<!-- section start -->
		<!-- ================ -->
		<div class="section" ng-app="ui.bootstrap.demo" ng-controller="ModalDemoCtrl">>
			<div class="container" >
<!--
				<h1 class="text-center title" id="portfolio">Photography</h1>
				<div class="separator"></div>
				<p class="lead text-center">Birds, Sunsets, Landscapes...<br />Showcasing the best my humble lens and inner birder could capture.</p>
				<br>			
-->
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					<div class="col-md-12">
						<!-- portfolio items start -->
						<div class="isotope-container row grid-space-20">
							<div class="col-sm-6 col-md-3 isotope-item int-design" ng-repeat="item in items | filter: { name: nameFilter } | orderBy: order">
								<div class="image-box" ng-click="open(item)">
									<div class="overlay-container">
										<img ng-src="{{item.photoThumbnailSrc}}" class="img-responsive" alt="">
										<a class="overlay" >
											<i class="fa fa-search-plus"></i>
											<span>{{item.photoCategory}}</span>
										</a>
									</div>
									<a class="btn btn-default btn-block">{{item.photoCaption}}</a>
								</div>
                                
							</div>
						</div>
					</div>
				</div>
                <br /><br />
                <div class="row object-non-visible">
                    <div class="col-md-12 centered">
                        <hr>
                        <h2 class="text-center title">Like what you see?</h2>
                        <p class="lead text-center">
                            <a class="btn btn-default btn-lg" href="">View More on Flickr</a>
                        </p>
                    </div>
                </div>
		</div>
		<!-- section end -->

		<!-- footer start -->
		<!-- ================ -->
        <footer id="footer">
            <div class="footer section"></div>
			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter" style="background: #2980b9; color: white;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 - 2016 Malvika Bansal</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
    
        <!-- Contact Form Script -->
		<script type="text/javascript" src="contact_form.js"></script>
        
         <!-- Contact AngularJS Script -->
        <script src="js/angular.min.js"></script>
<!--        <script src="js/photoPostGenerator.js"></script>-->
<!--        <script src="modalGenerator.js"></script>-->
        
        <script src="js/example.js"></script>
<!--        <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>-->
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
        
        <!-- Angular Bootstrap Lightbox -->
<!--
        <script src="js/angular-bootstrap-lightbox/angular-bootstrap-lightbox.js"></script>
        <script src="js/photoGallery.js"></script>
-->
        
        

	</body>
</html>
